aiofiles
asgiref
autopep8
click
fastapi
FastAPI-SQLAlchemy
greenlet
h11
Jinja2
MarkupSafe
mysql-connector-python
protobuf
pycodestyle
pydantic
PyMySQL
python-multipart
six
SQLAlchemy
starlette
toml
typing-extensions
uvicorn
